*.changes
*.chg
credentials.st
.*_st.done
*.errors
/github-cache
github-*.zip
.gradle
gradle-local.properties
*.image
image.*/
*.img
*.img7
/package-cache
PharoDebug.log
Pharo*.sources
/play-cache
/play-stash
*.sml
SqueakDebug.log
pharo-local/
icon-packs/
GlamorousToolkit-Linux-x86_64*.zip
bin/
crash.dmp
gt-extra/
lib/
*.log
**/*.orig.png
result
